<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeoDB.Properties.Settings>
            <setting name="userNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>test</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="locationServerDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isWindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
        </GeoDB.Properties.Settings>
    </userSettings>
</configuration>