<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="ModelDB" connectionString="metadata=res://*/Service.DataAccess.Model.csdl|res://*/Service.DataAccess.Model.ssdl|res://*/Service.DataAccess.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESSR2;attachdbfilename=|DataDirectory|\bl_server_data.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
  <add name="ModelDB" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=OGK-S-APPMINE01\MINESQL;Initial Catalog=bl_TEST;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
</configuration>