<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="modelDBlocal" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\GalkinAP\Documents\test.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="modelDB" connectionString="metadata=res://*/bl_TEST.csdl|res://*/bl_TEST.ssdl|res://*/bl_TEST.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=OGK-S-APPMINE01\MINESQL;Initial Catalog=bl_TEST;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelDB" connectionString="metadata=res://*/Service.DataAccess.Model.csdl|res://*/Service.DataAccess.Model.ssdl|res://*/Service.DataAccess.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESSR2;attachdbfilename=|DataDirectory|\bl_server_data.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>